<div class="jumbotron">
  <h1>Thanks for visiting!</h1>
  <p class="lead">Feel free to leave a message</p>
</div>

<div class="row">
  <div class="col-md-2"></div>
  	<div class="col-md-8">
  	<h2>Leave a message.</h2>
  	<%= render "messages/new" %>
  	<hr>
  	<h2>Past visitors:</h2>
      <%= render(@messages) %>
		</div>
  <div class="col-md-2"></div>
</div>
